<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
  <test name="Regression suite 1" >
  
  <groups>
  <run>
  <include name="regression"/>
   </run>
  </groups>
    <classes>
      <class name="com.test.dependsonAnnotation"/>
   
  
      
    </classes>
 </test>
</suite>